@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Patrick+Hand');

h1 {
  color: #4e8ef4;
}
  body {
      background: white;
      color: black;
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      margin: 70px 0;
    }

    .chatbar {
      background: #4e8ef4;
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
      border-radius: 4px
    }

    .chatbar-username {
      flex: 2;
      border-radius: 4px
    }

    .notification {
      font-style: italic;
      padding: 5px 20px;
    }

    .messages {
      margin-top: 125px;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message-content,
    .message-username {
      flex: 2;
      overflow: hidden;
      margin: 5px;
      padding: 0 5px;
      font-weight: 700;
      word-wrap: break-word;
    }

    .message-content {
      flex: 8;
      font-family: 'Nunito', sans-serif;
      word-wrap: break-word;
      border-radius: 4px;
      font-weight: 400;
      animation-name: messages;
      animation-duration: .5s;
      animation-timing-function: ease-out;
      animation-fill-mode: none;
      animation-play-state: running;
    }

    .notification {
      flex: 2;
      font-weight: 700;
      word-wrap: break-word;
    }

    .navbar {
      background: #4e8ef4;
      border-bottom: 1px solid black;
      height: 70px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 2;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 42px;
      font-family: 'Patrick Hand', cursive;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    .users-online {
      color: inherit;
      display: block;
      float: right;
      font-weight: 400;
      font-size: 28px;
      font-family: 'Patrick Hand', cursive;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    img {
      width: 60%;
      height: 80%;
      border-radius: 8px;
    }

    ::placeholder {
      font-family: 'Patrick Hand', cursive;
      font-size: 14px;
    }

    .color-drop-down {
      padding: .5em 1em .5em 1em;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      right: 0;
      top: 0;
      right: 0;
      text-align: right;
      margin-top: 70px;
      position: fixed;
      background-color: white;
      z-index: 5;
      line-height: 30px;
      width: 100%;
    }

    select {
      padding: .2em .2em .2em .4em;
      border-radius: 3px;
      -webkit-appearance: none;
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      margin-left: 10px;
    }

// ANIMATIONS

  @keyframes messages {
    0% {
      transform: scale(.3);
      }
    100% {
      transform: scale(1);
    }
  }



